<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFD-BMD Calculator</title>
</head>
<body>
    <h1>SFD-BMD Calculator</h1>
    <form action="/calculate" method="post">
        <label for="load">Load:</label>
        <input type="text" id="load" name="load" placeholder="Enter load">
        <label for="length">Length of the beam:</label>
        <input type="text" id="length" name="length" placeholder="Enter length">
        <label for="distance">Distance of Point load from left end:</label>
        <input type="text" id="distance" name="distance" placeholder="Enter distance">
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
